.auth-container {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #3344cc;
  }
  
  .auth-subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #4b57f5;
    color: white;
    border-radius: 8px;
    margin-top: 16px;
    cursor: pointer;
  }
  