.container {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3344cc;
  }
  
  #otp {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #4b57f5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  